html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA Compatible" content="IE=edge")
		title Fairy Games
		script(src="/connect4.js")
		script(src="/help.js")
		link(rel="icon" type="image/png" href="/pixie4.png")
	link(rel="stylesheet" href="/profile.css")
	body(style='background: linear-gradient(180deg, rgb(88 69 190) 4%, rgb(238 118 118 / 72%) 94%); font-family: "OpenSansCondensed-Light", sans-serif' onload="displayInfo()")
	style.
		h1{
		color: rgb(255 184 255);
		font-size: 36px;
		margin-top: -1;
		}
		a:-webkit-any-link {
		color: white;
		cursor: pointer;
		}
	.game
		br
		h1(style='left: 25%;') Achievements
		h3 game history
		label(style='left: 25%;') Win percentage: !{request.achievements[0]}%
		br
		label(style='left: 25%;') Total Games played: !{request.achievements[1]}
		br 
		//- br
		//- table(style='text-align: center')
		//- 	tr(style='vertical-align: middle; left: 24%;')
		//- 		th(style='width:219px') opponent:
		//- 		th result:
		//- 	tr
		//- 		td(style="cursor:pointer; text-decoration: underline;" onclick="location.href='../users/"+request.gamesHistory[0][0]+"'") !{request.gamesHistory[0][0]}
		//- 		td !{request.gamesHistory[1][0]}
		//- 	tr
		//- 		td(style="cursor:pointer; text-decoration: underline;" onclick="location.href='../users/"+request.gamesHistory[0][1]+"'") !{request.gamesHistory[0][1]}
		//- 		td !{request.gamesHistory[1][1]}
		//- 	tr
		//- 		td(style="cursor:pointer; text-decoration: underline;" onclick="location.href='../users/"+request.gamesHistory[0][2]+"'") !{request.gamesHistory[0][2]}
		//- 		td !{request.gamesHistory[1][2]}
		//- 	tr
		//- 		td(style="cursor:pointer; text-decoration: underline;" onclick="location.href='../users/"+request.gamesHistory[0][3]+"'") !{request.gamesHistory[0][3]}
		//- 		td !{request.gamesHistory[1][3]}
		//- 	tr
		//- 		td(style="cursor:pointer; text-decoration: underline;" onclick="location.href='../users/"+request.gamesHistory[0][4]+"'") !{request.gamesHistory[0][4]}
		//- 		td !{request.gamesHistory[1][4]}
		//- style.
		//- 	table 
		//- 	{
		//- 		width: 100%;
		//- 	}
		br
		h3(style='margin-top: 59') badges
		.badges(style='margin-left: 6%;margin-right: 6%;box-shadow: -2px 3px 9px -2px rgba(55,55,166,0.4); border-radius: 1rem; background-color: rgb(200 186 255 / 71%); padding: 19px 110px 100px 120px')
			img(src='/badge.png' alt='profile pic' style='width: 85px; margin-top: -12; margin-left: -189;margin-right: 60%;border-radius: 50%; -webkit-box-shadow: -2px 3px 9px -2px rgba(55,55,166,0.4); box-shadow: -2px 3px 9px -2px rgba(55,55,166,0.4)')

	.profile
		form(action="../getRequests/"+request.username)
			button#button(style="font-size:15px; cursor:pointer" class="button") request follow
		img(src='/'+request.profilePic alt='profile pic' style='width: 150px; border-radius: 50%; -webkit-box-shadow: -2px 3px 9px -2px rgba(55,55,166,0.4); box-shadow: -2px 3px 9px -2px rgba(55,55,166,0.4)')
		h1 @!{request.username}
		if (request.online == true)
			h3 online&nbsp!{request.status}
		else
			h3 offline&nbsp!{request.status}
		br
		if (request.friends[0] == null)
			input#fInput(type='text' onkeyup="searchFriends()" style='border-radius: 1rem 1rem 1rem 1rem; cursor:pointer' placeholder='Search friends..')
		else
			input#fInput(type='text' onkeyup="searchFriends()" style='border-radius: 1rem 1rem 0rem 0rem; cursor:pointer' placeholder='Search friends..')
		ul#friendList(style="width: 302px")
		button(class='button' type="button" onclick="location.href='../users'" style="font-size:15px; margin-top: 23%; cursor:pointer;") back to profile
