html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA Compatible" content="IE=edge")
		title Fairy Games
		script(src="/connect4.js")
		script(src="/help.js")
		link(rel="icon" type="image/png" href="/pixie4.png")
	link(rel="stylesheet" href="/profile.css")
	body(style='background: linear-gradient(180deg, rgb(88 69 190) 4%, rgb(238 118 118 / 72%) 94%); font-family: "OpenSansCondensed-Light", sans-serif' onload="displayUsers(); displayFriends(); displayRequests(); displayActiveGames()")
	#main
		span(style="font-size:25px; cursor:pointer; display:inline-block" onclick="openNav()") ☰ 

		#sidenav.sidenav
			a.closebtn(href="javascript:void(0)" onclick="closeNav()") ×
			a(href="../changeStatus" method="GET") Change Status
			a(href="../logOut" method="GET") Log Out
			a(style="cursor:pointer" onclick="location.href = '../instructions';") How to Play

		#myModal.modal
			.modal-content(style='border-radius: 1rem')
				span.close &times;
				p(style='font-size: 21px; margin-block-start: 2em; margin-left: 8%') Are you sure you want to unfriend this user?
				button#myBtn(style='font-size: 21px; margin-left: 40%; margin-bottom: 4%; width: 90px; height: 40px; border-radius: 2rem') yes
		script.
			var modal = document.getElementById("myModal");
			var btn = document.getElementById("myBtn");
			var span = document.getElementsByClassName("close")[0];

			// When the user clicks the button, open the modal 
			btn.onclick = function() {
				modal.style.display = "block";
			}

			// When the user clicks on <span> (x), close the modal
			span.onclick = function() {
				modal.style.display = "none";
			}

			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function(event) {
				if (event.target == modal) {
					modal.style.display = "none";
				}
			}

		.topnav(style="margin-top:10px; display: inline-block;")
			input#myInput(type='text' style="margin-right:10px; border-radius: 1rem 1rem 0 0" onkeyup="search()" placeholder='Search for users..')
			ul#userList(style="width: 340px; margin-right:8px")

		.game
			br
			h1(style='left: 25%;') Achievements
			h3 game history
			label(style='left: 25%;') Win percentage: !{session.achievements[0]}%
			br
			label(style='left: 25%;') Total Games played: !{session.achievements[1]}
			br 
			br
			br
			h3(style='margin-top: 59') badges
			.badges(style='margin-left: 6%;margin-right: 6%;box-shadow: -2px 3px 9px -2px rgba(55,55,166,0.4); border-radius: 1rem; background-color: rgb(200 186 255 / 71%); padding: 19px 110px 100px 120px')
				img(src='/badge.png' alt='profile pic' style='width: 85px; margin-top: -12; margin-left: -189;margin-right: 60%;border-radius: 50%; -webkit-box-shadow: -2px 3px 9px -2px rgba(55,55,166,0.4); box-shadow: -2px 3px 9px -2px rgba(55,55,166,0.4)')
		
		.profile(style='width:21%; display: inline-block;')
			img(src='/'+session.profilePic alt='profile pic' style='width: 150px; border-radius: 50%; -webkit-box-shadow: -2px 3px 9px -2px rgba(55,55,166,0.4); box-shadow: -2px 3px 9px -2px rgba(55,55,166,0.4)')
			h1 @!{session.username}
			if (session.online == true)
				h3(style='margin-top:-5%') online&nbsp!{session.status}
			else
				h3(style='margin-top:-5%') offline&nbsp!{session.status}
			br
			details.requestHide(style='background-color: #9a86d7; border-radius: 1rem 1rem 1rem 1rem; cursor:pointer; box-shadow: -2px 4px 9px -1px rgba(55,55,166,0.4);')
				summary#sum Requests 
				ul#requestList(onkeyup="searchReq()")
			br
			if (session.friends[0] == null)
				input#fInput(type='text' onkeyup="searchFriends()" style='border-radius: 1rem 1rem 1rem 1rem;' placeholder='Search friends..')
			else 
				input#fInput(type='text' onkeyup="searchFriends()" style='border-radius: 1rem 1rem 0rem 0rem;' placeholder='Search friends..')
			ul#friendList(style="width: 302px")

		.games(style='width: 33%; height: 50%;top: 30%; right: 1%; display: inline-block; position: absolute')
			h2(style='margin-left:45%; margin-bottom:10%') Games
			label#lab(onclick="location.href = '../game';") Connect4
				
			.flip-card
				.flip-card-inner
					.flip-card-front
						label(style='font-size: 25px;font-weight: bold; position: absolute; right: 130; margin-top: 18;') Mancala
					.flip-card-back
						label(style='font-size: 23px; font-weight: bold; position: absolute; right: 100; margin-top: 18') Coming soon!
